python3.6.12
__pycache__
outputs
*.egg-info
data/*.zip
data/*.pkl
data/*.npy
.idea/
.vscode/
.DS_Store
.coverage
/data/cache/
*.pclprof
profiler.py
*.bin
*.ipynb
.ipynb_checkpoints
research/emoji_w2v/corpus.txt
research/emoji_w2v/*.bin
research/emoji_w2v/*.zip
!research/emoji_w2v/*.ipynb
