python3.6.12
__pycache__
outputs
*.egg-info
data/*.zip
data/*.pkl
data/*.npy
.idea/
.vscode/
.DS_Store
.coverage
/data/cache/
*.pclprof
profiler.py
*.bin
*.ipynb
.ipynb_checkpoints
ens-emoji-freq.json
